:root {
  --green: rgb(104, 192, 92);
  --gray: gray;
}
#projects {
  min-height: 100vh;
  padding-top: 2.5em;
}
.project_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  row-gap: 1em;
}
.card {
  height: 16em;
  width: 36em;
  border-radius: 2em;
  background-color: rgba(7, 7, 7, 0.508) !important;
  border: none;
}
.card:hover {
  box-shadow: 0px 3px 12px 0px black;
  border: 1px solid transparent;
}
.card .content {
  border-radius: 2em;
}
#project_img {
  border-radius: 2em;
  padding: 1em;
}

.sub_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sub_content .row h2 {
  color: var(--green);
}
.sub_content .row p {
  color: var(--gray);
  padding-right: 0.5em;
  font-size: 0.9em;
}

.source_btn {
  border: none;
  padding: 2px 5px;
  border-radius: 0.5em;
  margin-right: 1em;
  background-color: transparent;
  border: 1px solid var(--green);
}
.source_btn a {
  color: var(--green);
  text-decoration: none;
}
.visit_btn a {
  color: var(--green);
  text-decoration: none;
}
.visit_btn {
  border: none;
  padding: 2px 5px;
  border-radius: 0.5em;
  background-color: transparent;
  border: 1px solid var(--green);
  color: var(--green);
}

#stack {
  margin: 2px;
}
