:root {
  --green: rgb(104, 192, 92);
  --gray: gray;
}
#projects {
  min-height: 100vh;
  padding-top: 2.5em;
}

.projects h3 span {
  color: var(--green);
  font-size: 1em;
}
#myProject {
  color: white;
  font-size: 1.6em;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.card {
  transition: 2s;
}
.card-body {
  color: var(--gray);
}
.card-body a {
  text-decoration: none;
  color: var(--gray);
}
.card-body a:hover {
  text-decoration: none;
  color: white;
}
.card-body button {
  padding: 3px 10px;
  font-size: 14px;
  color: var(--gray);
  border: 1px solid var(--green);
  border-radius: 3px;
}
.card-body button:hover {
  background-color: green !important;
  color: white;
}

.card-img-top {
  height: 15rem;
  object-fit: cover;
}

.warning {
  padding-top: 0.5em;
  width: 80%;
  align-self: center;
}
.warning p {
  font-size: 1em;
  color: rgb(183, 49, 49) !important;
}
