:root {
  --green: rgb(104, 192, 92);
  --gray: gray;
}

.contact .detail {
  color: var(--gray);
  font-size: 1.8em;
  padding: 1.5em 3em 1.5em 3em;
  width: 80%;
  text-align: center;
}
.contact button {
  border: 1px solid var(--green);
  color: var(--green);
  padding: 5px 10px;
  color: var(--gray);
  border-radius: 4px;
  font-size: 2em;
}

.email_btn a {
  color: var(--green);
  text-decoration: none;
}

.email_btn:hover {
  background-color: var(--green) !important;
  color: black;
}

.email_btn a:hover {
  color: white;
}
