:root {
  --green: rgb(104, 192, 92);
  --gray: gray;
}

.contact .what {
  color: var(--green);
  font-size: 2.6em;
}
#whatsnext {
  color: white;
}
.contact .detail {
  color: var(--gray);
  font-size: 1.8em;
  padding: 1.5em 0 1.5em 0;
  width: 80%;
  text-align: center;
}
.contact button {
  border: 1px solid var(--green);
  padding: 5px 10px;
  color: var(--gray);
  border-radius: 4px;
  font-size: 2em;
}

.contact button:hover {
  background-color: var(--green) !important;
  color: black;
}
