:root {
  --green: rgb(104, 192, 92);
  --gray: gray;
}
.about_text h3 {
  color: white;
}
.about_text h3 span {
  color: var(--green);
  font-size: 14px;
}
.about_text {
  color: var(--gray);
  text-align: justify;
}

.technology span {
  color: var(--green);
}
.profile-img {
  border: 3px solid var(--green);
  border-radius: 15px;
}
