:root {
  --green: rgb(104, 192, 92);
  --gray: gray;
}
#experience {
  min-height: 100vh;
  padding-top: 5em;
}
.exp_container {
  width: 100%;
  padding: 35px 10%;
}
.exp_container {
  padding-right: calc(10% - 30px);
}

main.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.col header.title {
  color: var(--green);
  padding: 0px 0px 20px 30px;
}
.col .contents {
  padding: 0px 30px;
  border-left: 2px solid #bababa;
}
.col .contents .box {
  border-radius: 1em;
  position: relative;
  padding: 20px;
  background-color: rgba(7, 7, 7, 0.508);
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}
.col .contents .box:hover {
  box-shadow: 0px 3px 12px 0px black;
  border: 1px solid transparent;
}

.col .contents .box::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 24px);
  top: 0%;
  background-color: var(--green);
  border: 2px solid white;
}
.box h4 {
  position: relative;
  color: var(--green);
}

.box h3 {
  font-size: 25px;
  padding: 10px 0px 6px;
  color: #444;
}
.box p {
  line-height: 1.2;
  color: #666;
  font-size: 17px;
}

@media (max-width: 768px) {
  main.row {
    grid-template-columns: 1fr;
  }
  .row .col:nth-child(2) {
    margin-top: 30px;
  }
}
